.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background: linear-gradient( 70deg, var(--clr-900), var(--clr-700) );
  text-align: center;
}

.footer-container * {
  color: white;
}
