.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background: linear-gradient( 70deg, var(--clr-1000), var(--clr-800) );
  background-color: var(--clr-1000);
  text-align: center;
}

.footer-container * {
  color: white;
}
