.header-container {
  position:fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}

.header-container__body {
  background: linear-gradient(var(--clr-700), var(--clr-500) 16%, var(--clr-300), var(--clr-500) 84%, var(--clr-700));
  height: 4.25rem;
  text-align: center;
  display: flex;
  width: 100%;
}

.header-container__body a {
  color: var(--clr-900);
}

.nav-h1-wrapper {
  flex-basis: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-main {
  display: flex;
  flex-grow: 1;
}

.nav-main a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-main__selected {
  color: var(--clr-1000);
  font-weight: bold;
  background: linear-gradient(var(--clr-700), var(--clr-100) 12%, var(--clr-500) 25%, var(--clr-500) 75%, var(--clr-100) 88%, var(--clr-700) );
}


.nav-footer-container {
  background: linear-gradient(200deg, var(--clr-500) ,var(--clr-100), var(--clr-300));
  padding: .3rem 0;
  border-bottom: 2px solid #d0902f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-footer__inner {
  margin-left: 2rem;
  height: 100%;
}

.nav-footer-container a {
  color: white;
  font-size: inherit;
}

.nav-footer-only-wrapper {
  width: 100%
}

.nav-footer-only-wrapper > div > div {
  margin-left: 13rem;
}

@media (min-width: 50em) {
  .header-container {
    position:fixed;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 10.25rem;
  }

  .header-container__body {
    background: linear-gradient(90deg , var(--clr-300), var(--clr-100) 16%, var(--clr-white), var(--clr-100) 84%, var(--clr-300));
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .nav-main {
    display: flex;
    flex-direction: column;
  }

  #nav-main__selected {
    color: var(--clr-1000);
    font-weight: bold;
    background: linear-gradient(to right , var(--clr-500), var(--clr-100) 12%, var(--clr-500) 25%, var(--clr-500) 75%, var(--clr-100) 88%, var(--clr-500) );
  }
}
