/*  this component may have inline styles for background img */

.iframe-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: var(--clr-600);
  background-size: auto 110px;
}
