
/* || RESET */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

textarea {
  max-width: 300px;
}

label {
  font-size: var(--fs-400);
  margin: 0.35rem;
}

input {
  border-radius: .33rem;
  border-color: var(--clr-700);
  min-height: 1.2rem;
}

select {
  min-width: 120px;
}

p, span {
  line-height: 1.6;
}

p {
  display: block;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (prefers-reduced-motion) {
  html:focus-within {
    scroll-behavior: auto;
  }
}

*::after,
*::before {
  box-sizing: border-box;
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  animation-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}

/* // VARIABLES */

:root {
  /* COLORS */
  /* --clr-headers: #e60267; */
  --clr-headers: #288ba8;
  --clr-active: #e60267;
  --clr-link: hsl(245deg, 100%, 60%);
  --clr-buttons-light: #cbe9f8;

  /* COLORS 1 */
  --clr-100: #eff1f5;
  --clr-200: #fff69f;
  --clr-300: #d1e9f7;

  --clr-400: #fdd870;
  --clr-500: rgb(191, 223, 242);
  --clr-600: #d0902f;
  --clr-700: #4433ff;
  --clr-750: #2c0a8e;
  --clr-800: #a15501;
  --clr-850: #5a6072;
  --clr-900: #424c54;
  --clr-1000: #351409;

  --clr-851: hsl(225deg, 12%, 40%);

  /* COLORS 2*/

  --clr2-100: #eff1f5;
  --clr2-200: #d1e9f7;
  --clr2-300: #bfdff2;

  --clr2-400: ;
  --clr2-500: ;
  --clr2-600: ;
  --clr2-700: ;
  --clr2-800: ;
  --clr2-900: #42464d ;
  --clr2-1000: ;

  --clr-3-300: #6ba653;
  --clr-3-400: #63a353;
  --clr-3-500: #5c9d5e;
  --clr-3-800: #42464d;
  --clr-3-900: #383c42;
  --clr-3-1000: #2d3238;


  /* white black */
  --clr-white: #FFF;
  --clr-black: #000;
  --clr-blue: rgb(17,1,255);

  /*Font Families*/
  --FF1: Sans-Serif, Arial;
  --FF2: Arial, Sans-Serif;
  --FF3: Arial, Sans-Serif;

  /* Font Weights */
  --fw-bold: 600;
  --fw-medium: 500;
  --fw-light: 400;

  /* Font Sizes */
  --fs-100: .5rem;
  --fs-200: .625rem;
  --fs-300: .8125rem;
  --fs-400: .875rem;
  --fs-500: 1rem;
  --fs-600: 1.25rem;
  --fs-650: 1.5rem;
  --fs-700: 2.0rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --fs-primary-heading: var(--fs-);

  /* Other */

  --max-width-body: ;
  --header-fixed-size: ;
}

@media (min-width: 50em) {
  :root {
    --fs-100: .5rem;
    --fs-200: .625rem;
    --fs-300: .75rem;
    --fs-400: .875rem;
    --fs-500: 1rem;
    --fs-600: 1.25rem;
    --fs-650: 1.5rem;
    --fs-700: 2.0rem;
    --fs-800: 2.5rem;
    --fs-900: 3rem;

    -fs-primary-heading: var(--fs-900);
  }
}

/* Utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.required::after{
  content: " *";
  color: red;
}

.underlined {
  text-decoration: underline;
}

.opacity-zero {
  opacity: 0;
}

.table-head-shader {
  background-color: var(--clr-white) !important;
}

.red {
  color: red !important
}

.margin-right-halfRem {
  margin-right: .5rem;
}

.box-shadow1 {
  box-shadow: rgb(0 0 0 / 4%) 0px 0.4px 0.5px -9px,
    rgb(0 0 0 / 6%) 0px 0.9px 1.1px -9px,
    rgb(0 0 0 / 7%) 0px 1.8px 2.1px -9px,
    rgb(0 0 0 / 8%) 0px 3.1px 3.8px -9px,
    rgb(0 0 0 / 10%) 0px 5.8px 7.1px -9px,
    rgb(0 0 0 / 14%) 0px 14px 17px -9px,
    rgb(0 0 0 / 5%) 0px 0px 15px;
}

@media (max-width: 600px) {
  .hide-under-600 {
    display: none !important;
  }
}
@media (min-width: 600px) {
  .hide-over-600 {
    display: none !important;
  }
}

@media (max-width: 62.5em) {
  .wide-view-only {
    display: none !important;
  }
}

@media (min-width: 62.5em) {
  .thin-view-only {
    display: none !important;
  }
}

@media (max-height: 524px) {
  .wide-height-only {
    display: none;
  }
}

/* headers */


h1, h2, h3, h4, h5, h6 {
  font-family: var(--FF2);
  letter-spacing: 0.01em;
  color: var(--clr-headers) ;
  font-weight: bold;
}
#h1 {
  font-size: var(--fs-primary- );
  transform: translateY(50%);
}

h2{

}

h3{
  font-size: 2rem;
}

h4{
  font-size: 1.5rem;
}
h5{
  font-size:1rem;
}

/* h6 will be for errors */
h6{
  color:red;
}

/* links */
a:any-link {
  text-decoration: none;
  font-weight: var(--fw-bold);
  color: var(--clr-link);
  letter-spacing: 0.02rem;
}

a:hover, a:focus-visible {
  color: var(--clr-900);
  transform: translate(0, -0.15rem);
  font-weight: 900;
}

a:active {
  color: var(--clr-900);
}
